.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo  {
    display: flex;
    align-items: center; 
}

.navbar .logo  img{
    width: 40px; /* Adjust to your logo size */
    height: auto; /* Maintain aspect ratio */
    margin-right: 6px; /* Spacing between logo and text */
}

.navbar .logo  h1{
    font-size: 30px; /* Adjust text size */
    font-weight: 600;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color:#49557e;
    font-size: 18px;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid #49557e;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover{
    background-color: #fff4f2;
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

.navbar li {
    cursor: pointer;
}

.navbar-search-icon {
    position: relative;
}

.navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background: rgb(139,0,253);
    background: linear-gradient(265deg, rgba(139,0,253,1) 0%, rgba(158,0,253,1) 56%, rgba(215,0,252,1) 100%);
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

@media (max-width:1050px) {
   

   .navbar .logo {
        width: 45px; /* Reduce logo size */
      }
      .navbar .logo h1 {
        font-size: 18px; /* Slightly smaller text */
      }

    .navbar-menu{
        gap: 20px;
        font-size:17px;
    }

    .navbar-right{
        gap: 30px;
    }

    .navbar-right img {
        width: 22px;
    }

    .navbar-right button{
        padding: 8px 25px;
    }

}

@media (max-width:900px) {
     .navbar .logo{
        flex-direction: column; /* Stack logo and text vertically */
        align-items: center; /* Center-align vertically stacked items */
      }
      .navbar .logo {
        width: 40px; /* Further reduce logo size */
        margin-right: 0; /* No need for margin between logo and text */
        margin-bottom: 10px; /* Space between logo and text when stacked */
      }
      .navbar .logo h1 {
        font-size: 16px; /* Smaller text size for smaller screens */
      }

    .navbar-menu{
        gap: 15px;
        font-size:16px;
    }

    .navbar-right{
        gap: 20px;
    }

    .navbar-right img {
        width: 20px;
    }

    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }

}

@media (max-width:750px) {
    
  
    .navbar-menu{
        display: none;
    }

}